@CHARSET "UTF-8";

/* Fixing weird CSS 2.1 specificated box model.
 * padding and borders are now WITHIN given height and width!
 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 10pt;
	font-family: Calibri, Helvetica, Arial;
	min-width: 600px;
	text-rendering: optimizelegibility;
	color: #eee;
	background-color: black;
	overflow: hidden;
}

form {
	display: inline;
}

A,A:link,A:visited {
	color: #3399FF;
	text-decoration: none;
}

A:hover {
	color: #3399FF;
	text-decoration: underline;
}

A.locked {
	color: red;
}

input:not([type="range"]):not([type="checkbox"]),select,button {
	border: none;
	background-color: #2e2e2e;
	border-radius: 2px;
	vertical-align: middle;
	padding: 8px;
	height: 32px;
	box-shadow: 0 0 5px 0 #111 inset;
	color: #eee;
	font-size: 8pt;
	font-weight: bold;
	margin: 4px;
	transition: box-shadow 0.2s;
}

option {
	padding: 4px;
}

input[type=submit],button {
	background-image: linear-gradient(#333 0%, #222 100%);
	box-shadow: 0 0 2px 0 #111;
	cursor: pointer;
}

input[type=submit]:hover,button:hover {
	background-image: linear-gradient(#3c3c3c 0%, #2c2c2c 100%);
}

input[type=submit]:active,button:active {
	background-image: linear-gradient(#1e1e1e 0%, #222 100%);
	box-shadow: 0 0 5px 0 #ccc;
}

input[type=submit]:focus,button:focus {
	box-shadow: 0 0 5px 0 #ccc;
}

input[type=text],input[type=number],input[type=password] {
	box-shadow: 0 0 5px 0 #111 inset;
	color: #eee;
}

input[type=text]:focus,input[type=number]:focus,input[type=password]:focus
	{
	box-shadow: 0 0 5px 0 #aaa;
}

div#container {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #444;
	color: #fff;
	padding: 0;
	margin: 0;
	overflow: auto;
}

div#main {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*border: 1px solid white;*/
}

div#wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 64px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #333344;
	background: linear-gradient(#333344 0%, #111122 100%);
}

div#floatright {
	float: right;
	height: 100%;
	width: 350px;
}

div#users {
	padding: 20px;
	height: 40%;
	background: #373737 url(img/bgnoise3.png) repeat;
	border-left: 2px solid #444;
	height: 40%;
	overflow: auto;
}

div#users td {
	vertical-align: top;
}

div#parties {
	height: 30%;
	background: #272727 url(img/bgnoise3.png) repeat;
	border-left: 2px solid #444;
	overflow: auto;
	white-space: nowrap;
	overflow: auto;
}

div#rooms {
	height: 30%;
	background: #373737 url(img/bgnoise3.png) repeat;
	border-left: 2px solid #444;
	overflow: auto;
}

div#chat {
	height: calc(100% - 80px);
	background-color: #223;
	overflow: auto;
	overflow-x: hidden;
	/*vertical-align: bottom;*/
}

div#input {
	height: 80px;
	padding: 10px;
	background: #373737 url(img/bgnoise3.png) repeat;
	border-top: 1px solid #444;
}

span.msg {
	display: block;
}

span.user {
	display: block;
}

.username.offline {
	text-decoration: line-through;
	opacity: 0.5;
}

#tabs {
	margin: 0;
	padding: 0 10px 10px 0;
	list-style: none;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#tabs li {
	float: left;
	display: block;
	padding: 6px 16px;
	background-image: linear-gradient(#333 0%, #222 100%);
	box-shadow: 0 0 2px 0 #111;
	transition: padding 0.1s, box-shadow 0.2s;
}

#tabs li.current {
	background-image: linear-gradient(#3b3b3b 0%, #2b2b2b 100%);
	padding: 10px 16px;
}

#tabs li.notify {
	box-shadow: 0 5px 8px -5px #aaa;
}

#tabs li a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

#tabs li.current a {
	text-decoration: none;
}

#tabs li a.remove {
	color: #f00;
	margin-left: 10px;
	font-size: 14pt;
}

#tabcontents {
	min-height: 100%;
	overflow: auto;
	overflow-x: hidden;
	padding: 16px;
	padding-top: 1000px;
	background: none;
	white-space: nowrap;
}

#tabcontents .p {
	display: inline-block;
	width: 0%;
	height: 100%;
}

.chatwrapper {
	width: 100%;
	white-space: normal;
	border-spacing: 0;
}

.chattable {
	width: 100%;
	margin: 0 auto;
}

table.room {
	width: 100%;
	border-spacing: 1px;
}

table.room td {
	padding: 4px;
}

table.room tr.other {
	background-color: rgba(0, 0, 0, 0.3);
}

table.room tr:hover {
	background-color: rgba(50, 100, 150, 0.3);
}

.username {
	cursor: pointer;
	font-weight: bold;
	vertical-align: top;
	white-space:nowrap;
}

.time {
	color: #777;
	padding-right: 10px;
	padding-top: 2px;
	font-size: 8pt;
	vertical-align: top;
	width: 40px;
}

.status {
	color: #aa4;
	font-size: 8pt;
	word-break: break-word;
	word-wrap: break-word;
}

.system {
	color: #ff8c00;
}

.ico-enter,.ico-go,.ico-leave,.ico-close {
	display: inline-block;
	height: 16px;
	padding-left: 16px;
	/*margin-left: 8px;*/
	background: no-repeat;
}

.ico-enter {
	background-image: url(img/ico/add.png);
}

.ico-go {
	background-image: url(img/ico/tick.png);
}

.ico-leave {
	background-image: url(img/ico/user_go.png);
}

.ico-close {
	background-image: url(img/ico/cross.png);
}

.partyrow {
	background-color: rgba(0, 0, 0, 0.3);
}

#partyoverlay, #profileoverlay {
	background-color: rgba(0, 0, 0, 0.85);
	height: calc(50% - 80px);
	min-height: 200px;
	top: 0%;
	left: 0%;
	position: absolute;
	width: calc(100% - 350px);
	overflow: auto;
	display: none;
}

#partydata, #profile {
	margin: 2%;
	margin-top: calc(2% + 40px);
}

.partydata td,#partydata th {
	text-align: left;
}

.partydata .max {
	color: #ff3333;
}

.partydata .min {
	color: #66ff66;
}

.greyed {
	color: #444;
}

#partydata table td {
	padding: 3px 8px;
}

#partyList {
	overflow: auto;
}

.partytab {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#timer {
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	padding: 50px;
	padding-top: 5%;
	text-align: center;
	color: #eee;
	font-size: 18pt;
	z-index: 100;
}

#timer .ttime {
	font-size: 160px;
}

#timer .scramble {
	display: inline-block;
	font-size: 16pt;
	max-width: 1000px;
}

button.big {
	height: 80px;
	min-width: 100px;
	font-size: 20pt;
}

#timer .controls button {
	margin: 0 50px;
}

.vr {
	height: 20px;
	width: 1px;
	margin: 0 10px;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	vertical-align: middle;
}

.enboxed {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 12px;
	border-radius: 2px;
}

input.scramble {
	padding: 3px;
	margin: 1px;
	height: auto;
	width: 350px;
	font-size: 10px;
	color: #aaa;
	font-weight: inherit;
}